@import "css/reset.css";
@import "css/basic.css";
@charset "UTF-8";
/*
Them Name: 585 wordpress them
Author: 3A - Eason
Version: 1.0
 */

/* header and footer set start */
header,
footer{
	width: 100%;
	height: 150px;
	background: url(imgs/hear_bar_background.png) no-repeat;
	min-width: 1140px;
}
section{
	min-width: 1140px;
}
/* header and footer set end */

/* container space start */
.space{
	padding-top: 100px;
}
.min_height{
	min-height: 600px;
}
/* container space end*/

/* logo start */
.logo{
	height: 150px;
	background: url(imgs/logoheader.png) no-repeat left center;
	position: relative;
	top: 15px;
}
/* logo end */

/* navigation start */
nav{
	float: right;
	padding-top: 80px;
	text-transform: uppercase;
	font-size: 16px;
}
nav ul{
	list-style: none;
}
nav ul li{
	float: left;
	padding: 0 15px;
}
nav ul li:last-of-type{
	padding-right: 0;
}
/* navigation end*/

/* footer start */
footer{
	margin-top: 55px;
	padding-top: 25px;
	color: #fff;
	text-transform: uppercase;
	line-height: 25px;
}
footer a:hover,
footer a:focus{
  color: #CCCCCA;
}
.footerlogo{
	float: left;
	width: 246px;
	height: 100px;
	background: url(imgs/logofooter.png) no-repeat;
}
address{
	float: right;
	margin: 30px 20px 0 0;
}
.enquire{
	float: right;
	font-size: 16px;
	margin-top: 26px;
	border: 1px solid #fff;
	padding: 10px 15px;
}
.copy{
	text-align: center;
}
/* footer end*/

/* retail start */
.retail_img{
	float: left;
}
.retail_table{
	float: right;
	width: 407px;
}
/* retail end */

/* new start*/
article{
	margin-bottom: 40px;
}
article b{
	font-weight: normal;
	display: block;
}
article img,
article b{
	margin-bottom: 15px;
}
article p{
	margin-bottom: 10px;
}
/* new end*/

/* enquiry start */
.address{
	float: left;
	width: 200px;
}
.form{
	float: right;
	width: 800px;
}
.form iframe{
	margin-top: 30px;
}
/* enquiry end */